$t: 23;

@import "@tgin/ui/core/css/quasar-extend/all";

@import "@tgin/ui/admin/css/all";

body.desktop .q-focus-helper:before,
body.desktop .q-focus-helper:after {
  background-color: transparent !important;
}


.s-badge {
  border-radius: 7px;
  padding: 5px 6px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
  text-align: center;
}
